[Unit]
Description=manages xml_modbus worker instances as a service
After=multi-user.target

[Service]
PIDFile=/var/run/xml_modbus.pid
WorkingDirectory=/usr/local/sbin/xml_modbus/
ExecStart=/usr/bin/python3.5 /usr/local/sbin/xml_modbus/main.py
StandardOutput=syslog
StandardError=syslog
Restart=always
TimeoutStartSec=10
RestartSec=10

[Install]
WantedBy=multi-user.target
